/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Alef Regular";
  src: url("app/fonts/Alef-Regular.ttf");
}
@font-face {
  font-family: "Alef Bold";
  src: url("app/fonts/Alef-Bold.ttf");
}
body {
  direction: rtl;
  font-family: "Alef Bold";
}
h3{
  background-color: rgba(181, 43, 226, 0.12);
  margin: 0px;
  margin-bottom: 10px;
}
