/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Alef Regular";
  src: url("app/fonts/Alef-Regular.ttf");
}
@font-face {
  font-family: "Alef Bold";
  src: url("app/fonts/Alef-Bold.ttf");
}
body {
  direction: rtl;
  font-family: "Alef Bold";
}
h3{
  background-color: rgba(181, 43, 226, 0.12);
  margin: 0px;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-bottom: 5px;
}
.mat-dialog-container {
  position: fixed;
  left: 20%;
  top: 0%;
  width: 400px !important;
  height: 400px !important;
  z-index: 100000;
  align-items: center;
}

